setuptools
wheel
numpy
protobuf
pydantic
faiss-cpu
sentencepiece
torch==2.7.0
transformers==4.52.3
accelerate
activeft
datasets
docarray
fastapi
flash_attn
peft==0.15.2
qwen-vl-utils==0.0.11
uvicorn
git+https://github.com/EvolvingLMMs-Lab/lmms-eval.git@v0.3.3
